# This line excludes any files related to the YOLOv5 model setup, as specified in the YOLO directory's requirements.txt, from being tracked by Git.
Scripts/Models/YOLOv5/yolov5
Media/Dataset.mp4
screenshotImages

.DS_Store
__pycache__
